*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f1f1; 
    color: #0a0909;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  

  .residence-card:nth-child(even) {
  flex-direction: row-reverse;
}



@media (max-width: 768px) {
  .hero-text {
    left: 5%;
    right: 5%;
    text-align: center;
  }

  .nav-links {
    gap: 1rem;
  }
}
